.logo {
    margin-right: 90px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;

    &__first-letter {
        color: $accent-color;
    }

    &__second-letter {
        color: #000
    }

    &__second-letter--footer{
        color: #fff;
    }
}
